:root {
	// dark theme background color
	--background-color: #212121;
	--background-color-dark: #141414;
	--background-color-light: #363636;

	// dark theme text color
	--text-color: #d8d8d8;
	--text-color-dark: #808080;
	--text-color-light: #ffffff;

	// dark theme primary color
	--primary-color: #3cabc4;
	--primary-color-dark: #2c8aa0;
	--primary-color-light: #4fc3e0;

	// dark theme secondary color
	--secondary-color: #f5f5f5;
	--secondary-color-dark: #c2c2c2;
	--secondary-color-light: #ffffff;
}

* {
	box-sizing: border-box;
}

body {
	color: var(--text-color);
	background: var(--background-color);

	margin: 0;
	padding: 0;	

	position: relative;
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;

	display: flex;
	flex-direction: column;

	overflow: hidden;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

button {
	color: var(--text-color);
	background: var(--background-color-light);

	cursor: pointer;

	border: none;
	border-radius: 4px;

	&:hover {
		background: var(--background-color-dark);

		transition: background 0.1s ease-in-out;
	}

	&:focus {
		background: var(--primary-color-dark);
	}
}

input[type="text"] {
	color: var(--text-color);
	background: var(--background-color-light);

	border: none;
	border-radius: 4px;
	padding: 4px;	

	:focus {
		outline: none;
	}	
}

input[type="checkbox"] {
	color: var(--text-color);
	background: var(--background-color-light);

	width: 18px;
	height: 18px;

	border: none;
	border-radius: 4px;
}

textarea {
	color: var(--text-color);
	background: var(--background-color-light);

	max-height: 200px;

	border: none;
	border-radius: 4px;
	padding: 4px;

	resize: none;

	:focus {
		outline: none;
	}
}

h2 {
	color: var(--text-color);

	margin: 0;
}

::placeholder {
	color: var(--text-color-dark);
}

.panel-menu {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.panels {
	display: flex;
	flex-direction: row;

	overflow: hidden;

	flex: 1;
}

.panel-content {
	background: var(--background-color-dark);

	padding: 8px;

	display: flex;
	flex-direction: column;
	align-items: start;

	flex: 1;
}

.side-panel {
	background: var(--background-color);

	min-width: 200px;

	padding-left: 4px;

	overflow: auto;

	display: flex;
	flex-direction: column;
	flex: 1;
}

.main-panel {
	max-width: 100%;
	max-height: 100%;

	flex: 5;
}

.panel-row {
	padding: 0;
	
	display: flex;
	flex-direction: row;
	align-items: start;
}

.panel-column {
	padding: 0;

	display: flex;
	flex-direction: column;
	align-items: start;
}

.panel-scroll {
	padding: 0;

	display: flex;
	flex-direction: column;
	align-items: start;

	overflow-y: auto;
}

.items-panel {
	margin-top: 8px;
	padding: 8px;

	background: var(--background-color);

	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5) inset;	

	width: 100%;

	display: flex;
	flex-direction: row;
	gap: 8px;

	flex: 1;

	.item-view {
		cursor: pointer;
	}
}

.item-view {
	display: inline-block;

	width: 64px;
	height: 64px;

	img {
		width: 100%;
		height: 100%;

		filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
	}
}

.add-item {
	display: inline-block;

	cursor: pointer;

	max-width: 64px;
	max-height: 64px;

	img {
		width: 100%;
		height: 100%;

		filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
	}
}
